# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/
.next/
.pnpm-store/
.pnpm-debug.log*

# =========================
# Leo / Aleo
# =========================
target/
*.proof
*.wasm

# =========================
# Environment Files
# =========================
.env
.env.local
.env.*.local

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Deployment
# =========================
.netlify/
.vercel/

# =========================
# Misc
# =========================
tmp/
*.zip
storage*/
